#home-container {
  width: 100%;
  max-height: 1000px;
  font-size: 1px;
  margin: 0;
  padding: 0;
  position: relative;
}

#home-container * {
  box-sizing: border-box
}


/* thiết lập style cho slideshow container */

#home-container .slideshow-container {
  padding-top: 175rem;
  max-width: 1025rem;
  position: relative;
  margin: auto;
}


/* ẩn hình ảnh cho phần tử slideshow */

#home-container .mySlides {
  display: none;
}

#home-container .mySlides:hover {
  display: none;
  transform: scale(1.1);
}


/* thiết kế nút mũi tên*/

#home-container .prev,
.next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22rem;
  padding: 16rem;
  color: white;
  font-weight: bold;
  font-size: 18rem;
  transition: 0.6s ease;
  border-radius: 0 3rem 3rem 0;
  user-select: none;
}


/* thiết kế nút mũi tên next nằm phía bên phải */

#home-container .next {
  right: 0;
  border-radius: 3rem 0 0 3rem;
}


/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/

#home-container .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}


/* Thiết lập style cho nội dung của mỗi phần tử slideshow */

#home-container .text {
  color: #f2f2f2;
  font-size: 15rem;
  padding: 8rem 12rem;
  position: absolute;
  bottom: 8rem;
  width: 100%;
  text-align: center;
}


/* Thiết lập style cho số hiển thị của phần tử */

#home-container .numbertext {
  color: #f2f2f2;
  font-size: 12rem;
  padding: 8rem 12rem;
  position: absolute;
  top: 0;
}


/* thiết lập style  nút tròn điều khiển*/

#home-container .dot {
  cursor: pointer;
  height: 15rem;
  width: 15rem;
  margin: 0 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#home-container .active,
.dot:hover {
  background-color: #717171;
  transform: scale(1.1);
}


/* tạo hiệu ứng chuyển động fade */

#home-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

#home-container .laptop_button {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 125rem;
  top: 1075rem;
  background-image: url(../img/home/logo/laptop.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
}

#home-container .laptop_button:hover {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 125rem;
  top: 1075rem;
  background-image: url(../img/home/logo/laptop.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
  transform: scale(1.2);
}

#home-container .phone_button {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 175rem;
  top: 1175rem;
  background-image: url(../img/home/logo/phone.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
}

#home-container .phone_button:hover {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 175rem;
  top: 1175rem;
  background-image: url(../img/home/logo/phone.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
  transform: scale(1.2);
}

#home-container .design_button {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 125rem;
  top: 1275rem;
  background-image: url(../img/home/logo/design.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
}

#home-container .design_button:hover {
  cursor: pointer;
  height: 80rem;
  width: 80rem;
  left: 125rem;
  top: 1275rem;
  background-image: url(../img/home/logo/design.png);
  background-color: rgb(228, 227, 227);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: background-color 0.6s ease;
  transform: scale(1.2);
}

#home-container .contain_button_buynow {
  text-align: center;
  padding-top: 20rem;
}

#home-container .button1 {
  background-color: white;
  color: black;
  border: 2rem solid #4CAF50;
}

#home-container .button1:hover {
  background-color: #4CAF50;
  color: white;
}

#home-container .button_buynow {
  width: 300rem;
  height: 100rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/home/logo/buy_now.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in;
}

#home-container .button_buynow:hover {
  width: 300rem;
  height: 100rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/home/logo/buy_now.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in;
  transform: scale(1.1);
}

#home-container .slideshow-container-top1 {
  border-radius: 6rem;
  padding-top: 300rem;
  width: 250rem;
  position: relative;
  padding-left: 430rem;
  width: 675rem;
  margin: auto;
  float: left;
}

#home-container .mySlides-top1 {
  display: none;
}

#home-container .mySlides-top1:hover {
  display: none;
  transform: scale(1.1);
}

#home-container .slideshow-container-top2 {
  border-radius: 6rem;
  padding-top: 250rem;
  padding-left: 50rem;
  width: 295rem;
  position: relative;
  float: left;
}

#home-container .mySlides-top2 {
  display: none;
}

#home-container .mySlides-top2:hover {
  display: none;
  transform: scale(1.1);
}

#home-container .slideshow-container-top3 {
  border-radius: 6rem;
  padding-top: 300rem;
  padding-left: 50rem;
  width: 295rem;
  position: relative;
  float: left;
}

#home-container .mySlides-top3 {
  display: none;
}

#home-container .mySlides-top3:hover {
  display: none;
  transform: scale(1.1);
}

#home-container .text_top {
  clear: both;
  text-align: center;
  top: 1500rem;
  left: 450rem;
  position: absolute;
}

#home-container h1 {
  display: block;
  font-size: 36rem;
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#home-container h2 {
  display: block;
  font-size: 24rem;
  margin-top: 14rem;
  margin-bottom: 14rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#home-container h3 {
  display: block;
  font-size: 12rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#home-container .text_top {
  font-family: 'Pacifico', cursive;
}