/* Tablet */
@media (min-width: 46.35em) and (max-width: 63.9375em) {

}
/* Mobile */
@media (max-width: 46.1875em) {
    
}
/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .nav_links {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .nav_links li {
        border: none;
        width: 100%;
    }
    #home_link {
        border: none;
    }
    .logo {
        display: none;
    }
    .fas {
        font-size: 40px;
    }
    header .mobile-menu-btn {
        display: block;
    }    
}