@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  list-style: none;
}

html,
body {
  background: url("<?php echo URLROOT;?>/public/img/home/logo/home_background.png");
  background-size: contain;
  margin: 0;
  padding: 0;
}


/*Header & Footer*/

header li,
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: inherit;
  line-height: 20px;
}
header li {
  position: relative;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px 10% 5px 10%;
  background-color: lightcyan;
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: fixed;
}

.logo {
  height: 2rem;
  cursor: pointer;
}
header .mobile-menu-btn {
  float: left;
  padding: 0 21px;
  font-size: 20px;
  position: absolute;
  top: 2;
  left: 0;
  display: none;
}
.nav_links {
  display: flex;
  list-style: none;
  justify-content: stretch;
  align-items: stretch;
}

.nav_links li {
  padding: 0 2rem;
  border-right: 1px solid black;
}

#home_link {
  border-left: 1px solid black;
}

.nav_links li a {
  display: block;
  transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
  color: lightskyblue;
}

.search_bar {
  width: 10rem;
  height: 2rem;
  position: relative;
}

.search_bar input {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 2px 10px;
}

.search_bar .btn {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.search_bar .btn:hover {
  zoom: 1.05;
}

.search_bar img {
  height: 1rem;
}

/* .cart {
  position: fixed;
  top: 8px;
  right: 50px;
} */
.cart img {
  height: 2rem;
}


/* Content area */

.main_section>* {
  width: auto;
  margin: 20px 12.5% 20px 12.5%;
}


/* Footer */

footer {
  /*padding-left: 50rem;*/
  position: absolute;
  bottom: 0;
  left: 30rem;
  padding-bottom: 30rem;
  height: 100rem;
}

.facebook_logo {
  left: 150rem;
  width: 70rem;
  height: 70rem;
  position: relative;
}

.youtube_logo {
  left: 175rem;
  width: 70rem;
  height: 70rem;
  position: relative;
}

.map {
  border: 5rem #383535;
  padding: 7rem;
  width: 350rem;
  height: 350rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 1750rem;
  right: 150rem;
  position: absolute;
}