@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  list-style: none;
}


/*Header & Footer*/

header li,
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10% 5px 10%;
  background-color: lightcyan;
}

.logo {
  height: 2rem;
  cursor: pointer;
}

.nav_links {
  display: flex;
  list-style: none;
  justify-content: stretch;
  align-items: stretch;
}

.nav_links li {
  padding: 0 2rem;
  border-right: 1px solid black;
}

#home_link {
  border-left: 1px solid black;
}

.nav_links li a {
  transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
  color: lightskyblue;
}

.search_bar {
  width: 10rem;
  height: 2rem;
  position: relative;
}

.search_bar input {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 2px 10px;
}

.search_bar .btn {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.search_bar .btn:hover {
  background: lightblue;
}

.search_bar img {
  height: 1rem;
}

.cart img {
  height: 2rem;
}


/* Content area */

.main_section>* {
  width: auto;
  margin: 20px 12.5% 20px 12.5%;
}


/* Product Detail */

.product_directory {
  display: block;
  margin: 20px 12.5% 20px 12.5%;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.product_directory img {
  height: 1.5rem;
}

.product_overview {
  display: grid;
  grid-template-columns: 12fr 10fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
}

.product_overview>div {
  padding: 1rem;
}

.spotlight {
  position: relative;
  justify-self: stretch;
  grid-column: 1;
  grid-row: 1/3;
}

.spotlight img {
  width: 100%;
  z-index: 0.5;
}

.spotlight button {
  background-color: transparent;
  border: 0;
}

.spotlight button>img {
  height: 2rem;
  width: auto;
}

#inner_prev {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 1rem;
  cursor: pointer;
}

#inner_next {
  position: absolute;
  z-index: 1;
  top: 45%;
  right: 1rem;
  cursor: pointer;
}

.samples {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-height: 144px;
}

.samples>* {
  margin: 0 0.2rem;
}

.thumbnail-wrapper {
  overflow: hidden;
}

.thumbnails {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  overflow-x: visible;
  transition: 0.3s;
  z-index: 0;
  max-height: 144px;
}

.thumbnails img:hover {
  border: 2px solid lightskyblue;
  cursor: pointer;
}

.samples img {
  width: 15%;
  margin: 0 0.2rem;
}

.samples button {
  border: 0;
  min-width: 1.5rem;
  background-color: white;
  z-index: 1;
}

.samples button:hover {
  background-color: #d9d9d9;
}

.samples #sample_prev {
  width: 3rem;
  cursor: pointer;
}

.samples #sample_next {
  width: 3rem;
  cursor: pointer;
}

.product_name {
  grid-column: 2;
  grid-row: 1;
  font-weight: 700;
  font-size: 2.5rem;
}

.product_name p {
  font-weight: 300;
  font-size: 1rem;
}

.product_main_info {
  grid-column: 2;
  grid-row: 2;
}

.product_main_info div {
  font-size: 1.5rem;
  font-weight: bold;
}

#retail_price {
  text-decoration: line-through;
}

#discounted {
  color: red;
}

.add_to_cart {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.add_to_cart button {
  padding: 0.2rem 0.5rem;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  background-color: lightblue;
}

.add_to_cart input {
  width: 3.2rem;
  padding: 0.1rem 0 0.1rem 1.1rem;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}

#add_to_cart {
  border-radius: 0;
  height: 2rem;
  font-size: 1rem;
}

.product_detail>* {
  flex-basis: 100%;
}

.product_detail button {
  border: none;
  background-color: transparent;
}

.product_detail .tabs {
  display: flex;
  justify-content: flex-start;
}

.product_detail .tabs button {
  padding: 0.5rem 2rem 0.5rem 0;
  cursor: pointer;
}

.product_detail .tabs button:hover {
  color: thistle
}

.product_detail .tabs_content {
  padding: 1.5rem 0;
}

.product_detail .tabs_data {
  display: none;
}

.similar_products {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.similar_products img {
  width: 15%;
  margin: 0 0.2rem;
}

.similar_products button {
  min-width: 3rem;
  border: 0;
  z-index: 1;
  background-color: white;
}

.similar_products button:hover {
  background-color: #d9d9d9;
}

.similar_products #similar_prev {
  width: 4rem;
  z-index: 1;
  cursor: pointer;
}

.similar_products #similar_next {
  width: 4rem;
  z-index: 1;
  cursor: pointer;
}


/* Products List */

.container_product_list {
  display: flex;
  justify-content: flex-start;
}

.container_product_list>div {
  margin: 0 1.5rem 0 0;
}

.categories {
  flex-basis: 100%;
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.categories ul,
li {
  border: 0;
  margin: 0.8rem 0 0 0;
}

.categories a {
  display: block;
  color: black;
}

.categories h2,
h3,
h4 {
  padding: 0.5rem 0.8rem;
}

.type a {
  background-color: #99ddff;
}

.type:hover {}

.brand a {
  background-color: #b3e6ff;
}

.product_line a {
  background-color: #cceeff;
}

.product_list {
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.product_list {
  min-width: 100px;
  padding: 0 1.2rem 0.2rem 0;
}

.product>* {
  margin: 0.5rem 0;
  overflow: hidden;
}

.product img {
  width: 100%;
}

.product .product_prices {
  display: flex;
  justify-content: space-between;
}

.page_control {
  justify-self: center;
  grid-column: span 4;
  display: inline;
}

.page_control img {
  height: 0.5rem;
}

.page_control button {
  border: 0;
  margin: 0 1rem;
  background-color: transparent;
  cursor: pointer;
}


/* Cart */

.containter_order {
  display: flex;
  justify-content: space-between;
}

.containter_order>div {
  padding: 1rem 1rem;
}

.order_form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order_form>* {
  padding: 0.5rem 1rem;
}

.order_form h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.form-control {
  margin: 0.2rem 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form_button {
  color: #FFF;
  background-color: blue;
  text-decoration: none;
  width: 70%;
  position: relative;
  left: 15%;
  margin: 1.2rem 0 0 0;
  padding: 0.6rem 1rem;
  border: none;
  text-align: center;
}

.form_button:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}

.order {
  flex-basis: 60%;
  padding: 1.2rem;
}

.order h2 {
  margin: 1.5rem 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.order_items {}

.order_item {
  display: flex;
  align-items: center;
}

.order_item>* {
  margin: 0 0.5rem;
}

.order_item .item_image {
  height: 3rem;
}

.order_item .item_info {
  flex: 2;
}

.order_item button {
  background-color: transparent;
  border: 1px lightgray solid;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
}

.order_item .item_amount {
  text-align: right;
  outline: none;
  width: 2.4rem;
  background-color: transparent;
  border: 1px lightgray solid;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
}

.order_summary {
  padding: 1rem 0.8rem;
  line-height: 2rem;
}

.order_summary .money {
  float: right;
}